Cargo.lock.bak
Cargo.lock
Nature.iml
output.log
.cargo/
.idea/
.vscode/
.run
rls/
target/
nature.sqlite
nature.sqlite-journal
/out
*/*.bak_*
*/*.lck

**/*.rs.bk
nature-manager/target
nature-manager/bin/
nature-manager/pkg/
nature-manager/wasm-pack.log
nature-manager/www/node_modules
nature-manager/www/dist
/nature-manager/www/package-lock.json
